body > header {
    @include center-child-vertically;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 6;
    top: 0;
    height: 60px;
    padding: 0 $mobileSides;
    background: $bg-blue;
    transition: 200ms $transition;

    &.nav-up {
        top: -60px;
    }
    a {
        color: $text-color;
    }
    .center-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .link-container {
        display: flex;
        gap: 30px;
        align-items: flex-end;

        & > a:nth-child(1),
        & > a:nth-child(2),
        & > a:nth-child(3) {
            display: none;
        }
    }
    @include tablet {
        padding: 0 $tabletSides;
    }
    @include laptop {
        height: 80px;

        &.nav-up {
            top: -80px;
        }
        .link-container {
            align-items: center;

            & > a:nth-child(1),
            & > a:nth-child(2),
            & > a:nth-child(3) {
                display: block;
            }
            & > a:nth-child(4),
            .open-button {
                display: none;
            }
            button {
                padding: 15px 45px;
            }
        }
    }
    @include desktop {
        #logo {
            width: 130px;
            height: auto;
        }
        .center-container {
            max-width: $desktopWidth;
            margin: 0 auto;
            box-sizing: content-box;
        }
    }
}