.product {
    .woocommerce-loop-product__link {
        display: flex;
        flex-direction: column;
    }
    .product-description {
        padding: 15px 0 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .product-details {
        color: $text-grey;
    }
    & a:hover {
        text-decoration: none !important;
    }
}